# Ignore Git files
.git
.gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log

# Virtualenvs
env/
venv/
.venv/

# Docker
docker-compose.yml

# System files
.DS_Store

# Media/static (if not needed in build)
media/
staticfiles/
